<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Vocab</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='{{ url_for("static", filename="mystyle.css") }}' rel="stylesheet">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>


    <script>
        let condition = "{{ condition }}"
        let keyword = "{{ keyword }}"
        let first_definition = "{{ pyResult.definitions[0].definition }}"
        console.log(condition)
        $(document).ready(function () {
            if (condition == "new") {
                $("#btn-delete").hide()
                $("#examples").hide()
            } else {
                $("#btn-save").hide()
                display_ex()
            }
        })

        function save_word() {
            $.ajax({
                type: "POST",
                url: "/api/save_word",
                data: {
                    word_give: keyword,
                    defin_give: first_definition
                },
                success: function (response) {
                    alert(response["msg"])
                    $("#btn-save").hide()
                    $("#btn-delete").show()
                    condition = "old"
                    $("#examples").show()
                    display_ex()
                }
            });
        }


        function delete_word() {
            $.ajax({
                type: "POST",
                url: "/api/delete_word",
                data: {
                    word_give:keyword
                },
                success: function (response) {
                    alert(response["msg"])
                    window.location.href="/"
                }
            });
        }

        function save_ex() {
            let new_ex = $('#new-example').val();
            if (!new_ex.toLowerCase().includes(keyword)) {
                alert(`please include '${keyword}' in sentence`)
                return;
            }
            console.log(new_ex)
            $.ajax({
                type: "POST",
                url: `/api/save_ex`,
                data: {
                    word_give: keyword,
                    ex_give: new_ex
                },
                success: function (response) {
                    alert(response['msg']);
                    $("#new-example").val("")
                    display_ex()
                }
            })
        }


        function display_ex() {
            $.ajax({
                type: "GET",
                url: `/api/display_ex`,
                data: {
                    word_give: keyword
                },
                success: function (response) {
                    let display = response["display"]
                    for (let i = 0; i < display.length; i++) {
                        let append_example = display[i]["example"]
                        console.log("ex append")
                        if (append_example == undefined){
                            return;
                        }
                        let temp_html = `<li id="ex-1"> ${append_example} &nbsp;
                                         <a href="javascript:delete_ex(1)" onclick="delete_ex()">delete</a></li>`
                        $("#example-list").append(temp_html)
                    }
                }
            });
        }

        function delete_ex() {
            $.ajax({
                type: "POST",
                url: `/api/delete_ex`,
                data: {
                    word_give: keyword
                },
                success: function (response) {
                    console.log("지움 ")

                    display_ex()
                    window.location.reload()
                }
            })
        }


        // get_definitions() //
        /*
        function get_definitions() {
            $.ajax({
                type: "GET",
                url: `https://owlbot.info/api/v4/dictionary/${word}`,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Token edfcbaee6cfb3fd175799ee610d6c41a840b1931");
                },
                data: {},
                error: function (xhr, status, error) {
                    alert("에러");
                },
                success: function (response) {
                    console.log(response)
                    $("#word").text(response["word"])
                    if (response["pronunciation"] == null) {
                        $("#pron").text("")
                    } else {
                        $("#pron").text(`/${response["pronunciation"]}/`)
                    }
                    $("#defin").empty()
                    let all_defin = response["definitions"]
                    for (i = 0; i < all_defin.length; i++) {
                        let one_defin = all_defin[i]
                        let temp_html = ""
                        if (one_defin["example"] != null) {
                            temp_html = `<div style="padding:10px">
                                                    <i>${one_defin["type"]}</i>
                                                    <br>${one_defin["definition"]}<br>
                                                    <span class="example">${one_defin["example"]}</span>
                                                </div>`
                        } else {
                            temp_html = `<div style="padding:10px">
                                                    <i>${one_defin["type"]}</i>
                                                    <br>${one_defin["definition"]}<br>
                                                </div>`
                        }
                        $("#defin").append(temp_html)
                    }
                }
            })
        }
        */


    </script>
</head>

<body>
<div class="wrap">
    <div class="banner" onclick="window.location.href = '/'">
    </div>
    <div class="container">
        <div class="d-flex justify-content-between align-items-end">
            <div>
                <h1 id="word" style="display: inline;">{{ pyResult.word }}</h1>
                {% if pyResult.pronunciation %}
                    <h5 id="pron" style="display: inline;">{{pyResult.pronunciation}}</h5>
                {% endif %}
            </div>
            <button id="btn-save" class="btn btn-outline-reila btn-lg" onclick="save_word()"><i class="fa fa-floppy-o" aria-hidden="true"></i>
            </button>
            <button id="btn-delete" class="btn btn-reila btn-lg" onclick="delete_word()"><i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
        </div>
        <hr>
        <div id="defin">
            {% for one_defin in pyResult.definitions %}
                <div style="padding:10px">
                    <i>{{ one_defin.type }}</i>
                    <br>{{ one_defin.definition }}<br>
                    {% if one_defin.example %}
                        <span class="example">{{ one_defin.example|safe }}</span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>


<div id="examples" class="container">
    <h3 style="text-align: left;margin-bottom:1rem">Write your own sentences!</h3>
    <ul id="example-list">
        <!-- <li id="ex-1">I don't like using the MS Word program.&nbsp;
            <a href="javascript:delete_ex(1)">delete</a></li> -->
    </ul>
    <div class="d-flex justify-content-between" style="margin-left:20px;">
        <input id="new-example" class="form-control form-control-sm" style="margin-right: 0.5rem">
        <button class="btn btn-outline-secondary btn-sm" onclick="save_ex()">add</button>
    </div>
</div>


</div>

</body>
</html>
